:root {
	--text: darkslategray;
	--line: darkseagreen;
	--accent: cadetblue;
	--bg: lightgrey;
	--fill: whitesmoke;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 300;
	src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("/plex-mono/fonts/complete/woff2/IBMPlexMono-Light.woff2") format("woff2"), url("/plex-mono/fonts/complete/woff/IBMPlexMono-Light.woff") format("woff");
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 300;
	src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Light-Cyrillic.woff2") format("woff2");
	unicode-range: U+0400-045F, U+0472-0473, U+0490-049D, U+04A0-04A5, U+04AA-04AB, U+04AE-04B3, U+04B6-04BB, U+04C0-04C2, U+04CF-04D9, U+04DC-04DF, U+04E2-04E9, U+04EE-04F5, U+04F8-04F9;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 300;
	src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Light-Pi.woff2") format("woff2");
	unicode-range: U+0E3F, U+2032-2033, U+2070, U+2075-2079, U+2080-2081, U+2083, U+2085-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1-EBE7, U+ECE0, U+EFCC;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 300;
	src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Light-Latin3.woff2") format("woff2");
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 300;
	src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Light-Latin2.woff2") format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 300;
	src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Light-Latin1.woff2") format("woff2");
	unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/plex-mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2") format("woff2"), url("/plex-mono/fonts/complete/woff/IBMPlexMono-Regular.woff") format("woff");
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Regular-Cyrillic.woff2") format("woff2");
	unicode-range: U+0400-045F, U+0472-0473, U+0490-049D, U+04A0-04A5, U+04AA-04AB, U+04AE-04B3, U+04B6-04BB, U+04C0-04C2, U+04CF-04D9, U+04DC-04DF, U+04E2-04E9, U+04EE-04F5, U+04F8-04F9;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Regular-Pi.woff2") format("woff2");
	unicode-range: U+0E3F, U+2032-2033, U+2070, U+2075-2079, U+2080-2081, U+2083, U+2085-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1-EBE7, U+ECE0, U+EFCC;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Regular-Latin3.woff2") format("woff2");
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Regular-Latin2.woff2") format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
	unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"), url("/plex-mono/fonts/complete/woff2/IBMPlexMono-SemiBold.woff2") format("woff2"), url("/plex-mono/fonts/complete/woff/IBMPlexMono-SemiBold.woff") format("woff");
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-SemiBold-Cyrillic.woff2") format("woff2");
	unicode-range: U+0400-045F, U+0472-0473, U+0490-049D, U+04A0-04A5, U+04AA-04AB, U+04AE-04B3, U+04B6-04BB, U+04C0-04C2, U+04CF-04D9, U+04DC-04DF, U+04E2-04E9, U+04EE-04F5, U+04F8-04F9;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-SemiBold-Pi.woff2") format("woff2");
	unicode-range: U+0E3F, U+2032-2033, U+2070, U+2075-2079, U+2080-2081, U+2083, U+2085-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1-EBE7, U+ECE0, U+EFCC;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-SemiBold-Latin3.woff2") format("woff2");
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-SemiBold-Latin2.woff2") format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02;
  }
  @font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"), url("/plex-mono/fonts/split/woff2/IBMPlexMono-SemiBold-Latin1.woff2") format("woff2");
	unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
  }

body { 
	color: var(--text);
	font-family: "Verdana"; 
}

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: var(--text) var(--line) }

*::-webkit-scrollbar { width: 20px; }
*::-webkit-scrollbar-track { background: var(--line); }
*::-webkit-scrollbar-thumb { background-color: var(--text); border: transparent; }

img { max-width: 100% }

nav {
	float: left;
	width: 15%;
	height: 100vh;
	position: relative;
	background-color: var(--bg);
}

nav div {
	height: fit-content;
	width: fit-content;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -1.5vw;
	text-align: right;
}
	.inline-block-child {
	display: inline-block;
}
	.censor-block {
		color: transparent;
		background-color: black;
		border-radius: 3px;
		padding: 0 4px;
		transition: color 0.3s ease, background-color 0.3s ease;
		cursor: pointer;
	}

	.censor-block:hover {
		color: inherit;
		background-color: transparent;
	}

	.text-block {
		/* max-width: 800px;
		margin: 20px auto;
		padding: 15px;
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		border-radius: 5px; */
		overflow-wrap: break-word; /* ensures long words/wrapping */
	}

nav a {
	display: block;
	margin: 10px 0;
	padding: 0;
	font-size: 1.5em;
	text-decoration: none;
	color:var(--fill);
	filter: drop-shadow(1px 1px 0 var(--text)) 
			drop-shadow(-1px 1px 0 var(--text)) 
			drop-shadow(0 -1px 0 var(--text)) 
			drop-shadow(1px 0 var(--text));
}

nav a:hover, nav a:focus {
	color: var(--accent);
}

main {
	float:left;
	width: 82%;
	height: 100vh;
	padding: 2em;
	overflow-y: scroll;
	background-color: var(--bg);
}

.container { max-width: 1500px }

section {
	margin: 2em 0;
	padding: 1em 2em;
	background-color: var(--fill);
	border: 5px solid var(--line);
}

.stripe {
	float: left;
	width: 3%;
	height: 100vh;
	background-color: var(--accent);
}

hr {
	border: none;
	border-top: 5px solid var(--line);
}

header {
	font-size: 2em;
	margin-bottom: 2rem;
	color:var(--fill);
	filter: drop-shadow(1px 1px 0 var(--text))
			drop-shadow(-1px 1px 0 var(--text))
			drop-shadow(0 -1px 0 var(--text))
			drop-shadow(1px 0 var(--text));
}

h2, h3, h4, p, table, details, cite, blockquote, img {
	margin: 1rem 0;
}

ul, ol, dl {
	margin: 1rem 0 1rem 2rem;
}

ul ul, ol ol { 
	margin: 0 0 0 2rem;
}

p, table,  ul, ol, dl {
	font-size: 1rem;
}

a { 
	color: var(--accent);
	padding: 2px;
}

p a:hover { 
	color: var(--fill);
	background-color: var(--accent);
}

h6 { font-size: 1em; }
h5 { font-size: 1.25em; }
h4 { font-size: 1.5em; }
h3 { font-size: 1.75em; }
h2 { font-size: 2em;
	text-align: center;
	background-color: var(--accent);
	padding: 5px;
}

blockquote {
	background-color: var(--accent);
	color: var(--fill);
	padding: 1em;
}

blockquote a, blockquote code {
	color: var(--text);
}

cite { 
	display: block;
	text-align: right;
}

code, details, pre {
	background-color: var(--bg);
}

code { 
	font-family: 'Courier New', monospace; 
	padding: 2px;
	color: rgb(255, 0, 72);
}

details, pre {
	padding: 1em;
	color:gainsboro;
}

pre { overflow-x: auto; }

details p { margin: 1rem 0 1rem 2rem; }

table {	border: 5px solid var(--line); }
tr, td, th { border: 2px solid var(--line); }
td, th { padding: 3px }

figcaption { 
	text-align: center;
	margin: -0.5em 1em 1em 1em;
}

footer { 
	font-size: 1em;
	text-align: center;
	background-color: var(--accent); 
	margin-top: 2em;
	padding: 5px;
}

footer a { color: var(--text); }

.flex-box {
    display:flex;
    flex-wrap:wrap;
    margin: -1em;
	align-items: flex-start;
}

.flex-box section {
	margin: 1em;
	}

.full { flex: 1 1 100%;}
.half { flex: 1 1 calc(50% - 2em); }
.third { flex: 1 1 calc(33% - 2em); }
.twothird { flex: 1 1 calc(66% - 2em); }
.quarter { flex: 1 1 calc(25% - 2em); }
.threequarter { flex: 1 1 calc(75% - 2em); }

@media screen and (max-width: 800px){

	nav, main, .stripe {
		float: none;
		width: 100%;
		height: fit-content;
	}
	
	nav { padding: 2vw }
	
	nav div {
		height: fit-content;
		width: 100%;
		position: static;
		-ms-transform: translateY(0);
		transform: translateY(0);
		text-align: right;
	}
	
	nav img {
		z-index: -1;
		position: absolute;
		left:0;
		max-height: 100%;
	}
	
	nav a {
		display: inline-block;
		margin: 5px;
	}
	
	nav a::after { content: " ↗"; }
	
	main { 
		overflow: auto;
		padding: 2em 1em;
	}
	
	header { 
		text-align: center;
		font-size: 1.5em;
	}
	
	section { padding: 1em 1em; }
	
	.stripe { height: 30px; }
	
	*::-webkit-scrollbar { width: 10px; }
	
	.reveal-container {
		display: inline-block;
		position: relative;
		cursor: pointer;
	  }
  
	.hidden-text {
		display: none;
		position: absolute;
		top: 100%;  /* show below the container */
		left: 0;
		background-color: #333;
		color: white;
		padding: 5px 10px;
		border-radius: 4px;
		white-space: nowrap;
		margin-top: 5px;
	  }
  
	.reveal-container:hover .hidden-text {
		display: block;
	  }
	
}